/* Buttons */
.button {
  background: var(--color-cyan-blue);
  border: none;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  font-family: var(--font-raleway);
  transition: var(--transition) filter, var(--transition) box-shadow, var(--transition) transform;
}
.button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
  box-shadow: 0 1rem 1rem rgba(99, 225, 217, 0.15);
}

.button--intro {
  margin-top: 3.2rem;
}
@media (max-width: 639px) {
  .button--intro {
    padding: 1.6rem 0;
    font-size: 1.4rem;
    width: 24rem;
    line-height: 1.143;
    border-radius: var(--border-radius-default);
  }
}
@media (min-width: 640px) {
  .button--intro {
    padding: 1.85rem 0;
    font-size: 1.6rem;
    width: 28rem;
    line-height: 1.1875;
    border-radius: var(--border-radius-large);
  }
}
.button:hover {
  cursor: pointer;
}

.button--cta {
  font-size: 1.4rem;
  font-family: var(--font-raleway);
  font-weight: var(--weight-bold);
  line-height: 1.143;
  padding: 1.6rem 0;
  border-radius: var(--border-radius-default);
}

@media (min-width: 740px) {
  .button--cta {
    width: 40%;
    max-width: 20rem;
  }
}