.header-nav {
  letter-spacing: 0px;
  font-family: var(--font-raleway);
  font-weight: var(--weight-regular);
  text-decoration: none;
}
@media (max-width: 639px) {
  .header-nav {
    font-size: 1.2rem;
    line-height: 1.167;
  }
}
@media (min-width: 640px) {
  .header-nav {
    font-size: 1.6rem;
    line-height: 1.1875;
  }
}

.t-intro-heading {
  font-family: var(--font-raleway);
  font-weight: var(--weight-bold);
  letter-spacing: 0px;
  line-height: 1.5;
}
@media (max-width: 639px) {
  .t-intro-heading {
    font-size: 2.4rem;
  }
}
@media (min-width: 640px) {
  .t-intro-heading {
    font-size: 4rem;
  }
}


.t-intro-body {
  font-family: var(--font-opensans);
  font-weight: var(--weight-regular);
  letter-spacing: 0px;
  line-height: 1.5;
}
@media (max-width: 639px) {
  .t-intro-body {
    font-size: 1.4rem;
  }
}
@media (min-width: 640px) {
  .t-intro-body {
    font-size: 2rem;
  }
}

.f-heading {
  font-family: var(--font-raleway);
  font-weight: var(--weight-bold);
  letter-spacing: 0px;
}
@media (max-width: 639px) {
  .f-heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media (min-width: 640px) {
  .f-heading {
    font-size: 2rem;
    line-height: 1.15;
  }
}

.feature-body {
  font-family: var(--font-opensans);
  font-weight: var(--weight-regular);
  letter-spacing: 0px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.productive-heading {
  font-weight: var(--weight-bold);
  font-family: var(--font-raleway);
  letter-spacing: 0px;
}
@media (max-width: 959px) {
  .productive-heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media (min-width: 960px) {
  .productive-heading {
    font-size: 4rem;
    line-height: 1.25;
  }
}

.productive-body {
  font-weight: var(--weight-regular);
  font-family: var(--font-opensans);
  letter-spacing: 0px;
  line-height: 1.5;
}
@media screen and (max-width: 959px) {
  .productive-body {
    font-size: 1.4rem;
    
  }
}
@media screen and (min-width: 960px) {
  .productive-body {
    font-size: 1.6rem;
  }
}

.t-productive-link {
  font-weight: var(--weight-regular);
  font-family: var(--font-opensans);
  letter-spacing: 0px;
  line-height: 1.5;
  color: var(--color-cyan);
}
@media (max-width: 959px) {
  .t-productive-link {
    font-size: 1.2rem;
    line-height: 1.333;
  }
}
@media (min-width: 960px) {
  .t-productive-link {
    font-size: 1.6rem;
    line-height: 1.375;
  }
}

.t-testimonial-body {
  font-weight: var(--weight-regular);
  font-family: var(--font-opensans);
}
@media (max-width: 639px) {
  .t-testimonial-body {
    line-height: 1.8;
    font-size: 1rem;
    letter-spacing: 0px;
  }
}
@media (min-width: 640px) {
  .t-testimonial-body {
    line-height: 1.5;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
}

.profile-name {
  font-family: var(--font-opensans);
  font-weight: var(--weight-bold);
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.profile-title {
  font-weight: var(--weight-regular);
  font-family: var(--font-opensans);
  font-size: 0.8rem;
  line-height: 1.25;
  letter-spacing: 0.57px;
}

.overlap__heading {
  font-family: var(--font-raleway);
  font-weight: var(--weight-bold);
  letter-spacing: 0px;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 639px) {
  .overlap__heading {
    font-size: 1.8rem;
    line-height: 1.333;
  }
}
@media screen and (min-width: 640px) {
  .overlap__heading {
    font-size: 3.2rem;
    line-height: 1.5;
  }
}

.body-txt,
.footer-address,
.footer-contact,
.footer-nav-item {
  font-family: var(--font-opensans);
  font-weight: var(--weight-regular);
  letter-spacing: 0px;
}

.body-txt,
.footer-address,
.footer-contact {
  line-height: 1.5;
}

.body-txt {
  font-size: 1.4rem;
}

.footer-address {
  font-size: 1.6rem;
}

.footer-contact {
  font-size: 1.4rem;
}

.footer-nav-item {
  line-height: 1.375;
  font-size: 1.6rem;
}