/* Productive section */
.productive {
  background-color: var(--color-main-bg);
}
@media (max-width: 639px) {
  .productive {
    padding-bottom: 16rem;
  }
  .productive__copy {
    padding: 0 2.8rem;
  }
}
@media (min-width: 640px) and (max-width: 1234px) {
  .productive {
    padding-bottom: 12rem;
  }
  .productive__copy {
    padding-left: 3rem;
  }
  .productive__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
  }
}

@media (min-width: 1235px) {
  .productive {
    padding-bottom: 12rem;
  }
  .productive__copy {
    padding-left: 5.7rem;
    max-width: 56.3rem;
  }
  .productive__copy > :first-child {
    width: 70%;
  }
  .productive__container {
    max-width: 123.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.productive__image__container {
  display: flex;
  margin: 0 auto;
  max-width: 61.4rem;
  align-items: center;
  justify-content: center;
}
.productive__image {
  width: 100%;
}
@media(max-width: 639px) {
  .productive__image__container {
    max-width: 30.4rem;
    margin-bottom: 4.8rem;
  }
  .productive__copy > :first-child {
    text-align: center;
  }
}

.productive__copy > :not(:last-child) {
  margin-bottom: 1.6rem;
}

.productive-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-cyan);
  padding-bottom: 0.6rem;
  transition: var(--transition) padding-left;
}
.productive-link::after {
  content: '';
  background-image: url('/images/icon-arrow.svg');
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.7rem;
}
.productive-link:hover {
  padding-left: 1.2rem;
}
