/* Reset */
html {
  box-sizing: border-box;
  font-size: 65%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: var(--transition) border-color, var(--transition) color;
}
a:hover {
  color: var(--color-cyan);
  border-color: var(--color-cyan);
}

body {
  color: var(--color-white);
  background-color: var(--color-lighter-bg);
}